<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3">
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                <span>Bookshop</span>
            </h4>
            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                    <a href="/books" class="nav-link d-flex align-items-center gap-2 <%= currentPath === '/books' ? 'active' : '' %>">
                        <i class="bi bi-book"></i>
                        Books
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/orders" class="nav-link d-flex align-items-center gap-2 <%= currentPath === '/orders' ? 'active' : '' %>">
                        <i class="bi bi-file-earmark-text"></i>
                        Orders
                    </a>
                </li>
            </ul>
            <hr class="my-3">
            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                    <a href="/users" class="nav-link d-flex align-items-center gap-2 <%= currentPath === '/users' ? 'active' : '' %>">
                        <i class="bi bi-people"></i>
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/sign-out" class="nav-link d-flex align-items-center gap-2 <%= currentPath === '/sign-out' ? 'active' : '' %>">
                        <i class="bi bi-box-arrow-left"></i>
                        Sign out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
